@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #050505;
  color: white;
  overflow: hidden; 
  font-family: 'Courier New', monospace;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #00f3ff;
  border-radius: 5px;
}
